/* all main variables are defined */
* {
  padding: 0;
  margin: 0; }

/* HEADER---HEADER---HEADER----HEADER */
.header {
  max-width: 1160px;
  height: 206px;
  margin: 0 auto; }
  .header .logo {
    float: left;
    margin-top: 37px;
    margin-left: 4px;
    padding-bottom: 37px; }
  .header .icon {
    float: right;
    position: relative;
    overflow: hidden;
    padding-top: 48px;
    margin-right: 3px; }
    .header .icon__item {
      float: left;
      list-style: none; }
      .header .icon__item .icon__link {
        display: block;
        background: url(../img/logos.png) 0 0 no-repeat;
        height: 16px;
        width: 8px;
        margin-left: 8px; }
        .header .icon__item .icon__link:hover {
          -webkit-transition-delay: 0.1s;
                  transition-delay: 0.1s;
          background-position: 0 -24px; }
        .header .icon__item .icon__link--second {
          width: 16px;
          background-position: -15px 1px; }
          .header .icon__item .icon__link--second:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -15px -23px; }
        .header .icon__item .icon__link--third {
          width: 16px;
          background-position: -40px 0; }
          .header .icon__item .icon__link--third:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -40px -24px; }
        .header .icon__item .icon__link--fourth {
          width: 16px;
          background-position: -64px 0; }
          .header .icon__item .icon__link--fourth:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -64px -24px; }
        .header .icon__item .icon__link--fifth {
          width: 16px;
          background-position: -88px 0; }
          .header .icon__item .icon__link--fifth:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -88px -24px; }
  .header .navigation {
    clear: both;
    height: 56px;
    background-color: #2a2d32;
    margin-bottom: 40px; }
    .header .navigation .nav {
      list-style: none;
      float: left; }
      .header .navigation .nav__item {
        float: left;
        border-right: 1px solid #181a1d; }
        .header .navigation .nav__item:first-child {
          background-color: #248cec; }
        .header .navigation .nav__item .nav__link {
          text-decoration: none;
          display: block;
          height: 56px;
          padding-left: 40px;
          padding-right: 40px;
          text-align: center;
          line-height: 56px;
          font-family: "Myriad", Arial, sans-serif;
          font-size: 12px;
          color: white; }
          .header .navigation .nav__item .nav__link:hover {
            color: #f4b60d;
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s; }
    .header .navigation .search {
      float: right;
      margin: 8px;
      height: 40px;
      width: 240px;
      background-color: #35383c;
      border: 1px solid #181a1d; }
      .header .navigation .search__field {
        color: #5a5c5e;
        height: 40px;
        width: 240px;
        background-color: #35383c;
        border: none;
        padding-left: 15px; }
        .header .navigation .search__field::-webkit-input-placeholder {
          color: #5a5c5e; }
        .header .navigation .search__field::-webkit-input-placeholder {
          color: #5a5c5e; }
        .header .navigation .search__field:focus {
          outline: none; }
      .header .navigation .search__btn {
        position: absolute;
        margin-left: 215px;
        margin-top: -33px;
        font-size: 16px;
        background-color: #35383c;
        border: none;
        cursor: pointer; }
        .header .navigation .search__btn:focus {
          outline: none; }

/* /////// HEADER---HEADER---HEADER----HEADER */
/* SLIDER---SLIDER---SLIDER---SLIDER */
.jcarousel-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1160px;
  height: 100%; }
  .jcarousel-wrapper .jcarousel {
    position: relative;
    overflow: hidden; }
    .jcarousel-wrapper .jcarousel ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0; }
      .jcarousel-wrapper .jcarousel ul li {
        float: left; }

.jcarousel-pagination {
  position: absolute;
  margin-left: 520px;
  bottom: 15px; }
  .jcarousel-pagination a {
    display: block;
    float: left;
    background: url(../img/pag.png) 0 0 no-repeat;
    background-position: 1px 1px;
    height: 17px;
    width: 17px;
    margin-left: 15px;
    color: rgba(1, 1, 1, 0); }
    .jcarousel-pagination a:hover {
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s;
      background-position: -15px 1px; }

.jcarousel-pagination a.active {
  color: rgba(1, 1, 1, 0);
  background: url(../img/pag.png) 0 0 no-repeat;
  background-position: -15px 1px; }

/* //////  SLIDER---SLIDER---SLIDER---SLIDER */
/* CHAPTERS---CHAPTERS---CHAPTERS---CHAPTERS */
.chapters {
  width: 1160px;
  margin: 0 auto;
  height: 340px; }
  .chapters .chapter {
    width: 33%;
    float: left;
    margin-left: 3px;
    margin-top: 40px; }
    .chapters .chapter__paragraph {
      float: left;
      color: #e9e9ea;
      font-size: 90px;
      font-weight: bold;
      font-family: Arial;
      padding-right: 30px; }
    .chapters .chapter .figure {
      float: left;
      width: 240px; }
      .chapters .chapter .figure__img {
        margin-top: 20px; }
      .chapters .chapter .figure__head {
        margin-top: 10px;
        color: #2a2d32;
        font-size: 20px;
        font-family: "Myriad", Arial, sans-serif;
        font-weight: bold; }
      .chapters .chapter .figure__paragraph {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #8a8a8a;
        font-size: 13px;
        font-family: Arial; }
      .chapters .chapter .figure__link {
        color: #2a2d32;
        font-size: 13px;
        font-family: "Myriad", Arial, sans-serif;
        font-weight: bold;
        text-decoration: none; }
        .chapters .chapter .figure__link span {
          color: #248cec; }
        .chapters .chapter .figure__link:hover {
          color: #248cec; }
          .chapters .chapter .figure__link:hover span {
            color: #2a2d32; }

/* //////CHAPTERS---CHAPTERS---CHAPTERS---CHAPTERS */
/* SERVICES---SERVICES---SERVICES---SERVICES */
.services__wrap {
  width: 100%;
  height: 500px;
  background-color: #2a2d32; }
  .services__wrap .services {
    width: 1160px;
    margin: 0 auto; }
    .services__wrap .services__paragraph {
      font-size: 24px;
      color: white;
      font-family: "Myriad", Arial, sans-serif;
      padding-top: 40px;
      padding-bottom: 50px; }
    .services__wrap .services .service {
      float: left;
      margin-right: 40px; }
      .services__wrap .services .service a img {
        margin-bottom: 40px;
        display: block; }
        .services__wrap .services .service a img:hover {
          opacity: 0.95;
          -webkit-transition-delay: 0.1s;
                  transition-delay: 0.1s; }
      .services__wrap .services .service__link {
        width: 100%;
        font-size: 16px;
        color: white;
        text-decoration: none;
        font-family: "Myriad", Arial, sans-serif; }
        .services__wrap .services .service__link:hover {
          color: #f4b60d; }
        .services__wrap .services .service__link p {
          text-align: center; }
    .services__wrap .services .service--four {
      margin: 0; }

.myhover {
  height: 260px;
  width: 260px;
  position: absolute;
  opacity: 0; }

/* //////SERVICES---SERVICES---SERVICES---SERVICES */
/* NEWS---NEWS---NEWS---NEWS */
.lightgrey {
  width: 100%;
  background-color: #f7f7f7;
  height: 540px; }
  .lightgrey__wrap {
    width: 1160px;
    margin: 0 auto;
    /* BANNERS---BANNERS---BANNERS---BANNERS */
    /* //////BANNERS---BANNERS---BANNERS---BANNERS */ }
    .lightgrey__wrap .updates {
      height: 540px;
      width: 580px;
      float: left; }
      .lightgrey__wrap .updates__paragraph {
        color: #2a2d32;
        font-family: "Myriad", Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 50px; }
      .lightgrey__wrap .updates .news img {
        float: left;
        height: 150px;
        width: 150px;
        margin-right: 30px; }
      .lightgrey__wrap .updates .news__link {
        color: #2a2d32;
        font-family: "Myriad", Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none; }
        .lightgrey__wrap .updates .news__link:hover {
          color: #248cec; }
      .lightgrey__wrap .updates .news__p, .lightgrey__wrap .updates .news__text {
        padding-top: 10px;
        padding-bottom: 5px;
        color: #8a8a8a;
        font-family: "Myriad", Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.5px; }
        .lightgrey__wrap .updates .news__p a, .lightgrey__wrap .updates .news__text a {
          text-decoration: none;
          color: #248cec; }
          .lightgrey__wrap .updates .news__p a:hover, .lightgrey__wrap .updates .news__text a:hover {
            color: #f4b60d; }
      .lightgrey__wrap .updates .news--second {
        clear: both;
        margin-top: 30px; }
    .lightgrey__wrap .updates__month, .lightgrey__wrap .updates__date {
      height: 40px;
      width: 40px;
      position: absolute; }
    .lightgrey__wrap .updates__month {
      margin-top: 150px;
      margin-left: -15px;
      background-color: #248cec;
      color: white;
      font-family: "Myriad", Arial, sans-serif;
      font-size: 15px; }
      .lightgrey__wrap .updates__month p {
        padding-top: 10px;
        padding-left: 10px; }
    .lightgrey__wrap .updates__date {
      margin-top: 190px;
      margin-left: -15px;
      background-color: #f4b60d;
      color: #2a2b2e;
      font-family: "Myriad", Arial, sans-serif;
      font-size: 18px;
      font-weight: bold; }
      .lightgrey__wrap .updates__date p {
        padding-top: 11px;
        padding-left: 12px; }
    .lightgrey__wrap .updates__month--second {
      margin-top: 330px;
      margin-left: -15px; }
    .lightgrey__wrap .updates__date--second {
      margin-top: 370px;
      margin-left: -15px; }
    .lightgrey__wrap .banners {
      height: 540px;
      width: 580px;
      float: right; }
      .lightgrey__wrap .banners p {
        color: #2a2d32;
        font-family: "Myriad", Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 50px; }
      .lightgrey__wrap .banners .accordion__btn span, .lightgrey__wrap .banners .accordion__btn {
        display: block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        background-color: white;
        line-height: 40px;
        text-align: center;
        font-size: 26px;
        color: black;
        font-family: "Myriad", Arial, sans-serif;
        float: left;
        text-decoration: none;
        border: none;
        -webkit-box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.2); }
        .lightgrey__wrap .banners .accordion__btn span:hover, .lightgrey__wrap .banners .accordion__btn:hover {
          background-color: #eee !important;
          color: #f4b60d; }
          .lightgrey__wrap .banners .accordion__btn span:hover span, .lightgrey__wrap .banners .accordion__btn:hover span {
            color: #f4b60d;
            background-color: #eee !important; }
      .lightgrey__wrap .banners .accordion__btn {
        width: 560px;
        height: 40px;
        font-size: 13px; }
        .lightgrey__wrap .banners .accordion__btn:focus {
          outline: none; }
        .lightgrey__wrap .banners .accordion__btn span {
          border-right: 1px solid #f7f7f7; }
      .lightgrey__wrap .banners .accordion__panel {
        width: 520px;
        max-height: 300px;
        overflow-y: auto;
        font-size: 13px;
        font-family: "Myriad", Arial, sans-serif;
        color: #8a8a8a;
        padding-left: 41px;
        display: none;
        line-height: 20px;
        padding-bottom: 25px; }
    .lightgrey__wrap .accordion__active, .lightgrey__wrap .accordion__active span {
      color: white;
      background-color: #f4b60d !important; }

/* //////NEWS---NEWS---NEWS---NEWS */
/* LOGOS---LOGOS---LOGOS---LOGOS */
.logos__wrap {
  width: 1160px;
  margin: 0 auto;
  height: 240px; }
  .logos__wrap .logos {
    float: left;
    position: relative;
    overflow: hidden; }
    .logos__wrap .logos li {
      float: left;
      list-style: none; }
      .logos__wrap .logos li .logos__link {
        display: block;
        background: url(../img/logos2.png) 0 0 no-repeat;
        height: 57px;
        width: 120px;
        margin-left: 40px;
        margin-top: 95px; }
        .logos__wrap .logos li .logos__link:hover {
          -webkit-transition-delay: 0.1s;
                  transition-delay: 0.1s;
          background-position: 0 -64px; }
        .logos__wrap .logos li .logos__link--second {
          width: 145px;
          background-position: -120px 0; }
          .logos__wrap .logos li .logos__link--second:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -120px -64px; }
        .logos__wrap .logos li .logos__link--third {
          width: 185px;
          height: 59px;
          background-position: -265px 0; }
          .logos__wrap .logos li .logos__link--third:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -265px -64px; }
        .logos__wrap .logos li .logos__link--fourth {
          width: 144px;
          background-position: -450px 0; }
          .logos__wrap .logos li .logos__link--fourth:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -450px -66px; }
        .logos__wrap .logos li .logos__link--fifth {
          width: 143px;
          height: 56px;
          background-position: -595px 0; }
          .logos__wrap .logos li .logos__link--fifth:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -595px -66px; }
        .logos__wrap .logos li .logos__link--sixth {
          width: 113px;
          height: 61px;
          background-position: -738px 0;
          margin-top: 93px;
          margin-left: 30px; }
          .logos__wrap .logos li .logos__link--sixth:hover {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
            background-position: -738px -61px; }

/* //////LOGOS---LOGOS---LOGOS---LOGOS */
/* MENU---MENU---MENU---MENU */
.menu__wrap {
  background-color: #2a2d32; }
  .menu__wrap .menu {
    width: 1160px;
    height: 320px;
    margin: 0 auto; }
    .menu__wrap .menu .block {
      width: 290px;
      float: left;
      padding-top: 65px; }
      .menu__wrap .menu .block__heading {
        color: #fff;
        font-family: "Myriad", Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 30px; }
      .menu__wrap .menu .block__link {
        text-decoration: none;
        font-family: Arial, sans-serif;
        color: #797a7c;
        line-height: 37px;
        letter-spacing: -0.5px; }
        .menu__wrap .menu .block__link:hover {
          color: #248cec; }
      .menu__wrap .menu .block__line {
        width: 250px;
        height: 1px;
        background-color: #393c40; }

/* //////MENU---MENU---MENU---MENU */
/* FOOTER---FOOTER---FOOTER---FOOTER */
footer {
  background-color: #35383c; }
  footer .footer__wrap {
    height: 60px;
    width: 1160px;
    margin: 0 auto; }
    footer .footer__wrap .footer__left {
      float: left; }
      footer .footer__wrap .footer__left p {
        float: left;
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #797a7c;
        line-height: 60px;
        padding-right: 25px; }
        footer .footer__wrap .footer__left p img {
          padding-right: 10px; }
    footer .footer__wrap .footer__right {
      float: right; }
      footer .footer__wrap .footer__right p {
        float: right;
        font-family: Arial, sans-serif;
        font-size: 12px;
        color: #797a7c;
        line-height: 60px; }

/* //////FOOTER---FOOTER---FOOTER---FOOTER */
